NEXT_PUBLIC_SITE_URL=https://cdatonight.aerovista.us
NEXT_PUBLIC_UMAMI_URL=https://stats.aerocoreos.com
NEXT_PUBLIC_UMAMI_WEBSITE_ID=8d3be7f4-0747-4581-b4b0-2d6f594b25bc
NEXT_PUBLIC_UMAMI_DOMAINS=cdatonight.aerovista.us,.vercel.app
